.custom-footer {position: relative;background:#000;padding:5rem 0;}
.custom-footer .logoandintro img {max-width:130px;}
.custom-footer .footermainmenu {display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;margin-top:5rem;}
.custom-footer .footermainmenu ul {padding:0;margin:0px;list-style:none;}
.custom-footer .footermainmenu li a {color: #fff;text-decoration: none;font-weight: 200;padding: 5px 0;display: block;font-size: 14px;}
.custom-footer .mainnavs li:first-child a {font-size: 20px;font-weight: 500;margin-bottom: 15px;display: block;}
.custom-footer .logoandintro p {color:#fff;}
.custom-footer .socialmediadiv p {margin: 0;color: #fff;font-size: 20px;font-weight: 500;margin-bottom: 15px;}
.custom-footer .footermainmenu .socialmedia {display: flex;column-gap: 10px;}
.custom-footer .socialmedia img {width:35px;}
.custom-footer .copyline {text-align: center;color: #fff;font-weight: 300;font-size: 14px;margin-top: 7rem;}
.custom-footer .copyline a {color: #fff;font-weight: 500;}

.custom-footer .footerlogo {position: absolute;bottom: 0;z-index: 999;right: 0;max-width: 30vw;}

@media screen and (max-width: 750px) {
  .custom-footer {overflow: hidden;}
  .custom-footer .footermainmenu {grid-template-columns:1fr;margin-top: 3rem;grid-gap: 3rem;}
  .custom-footer .mainnavs li:first-child a {margin-bottom: 5px;color: #CFF741;text-transform: uppercase;}
  .custom-footer .copyline {text-align: left;margin-top: 2rem;}
  .custom-footer .footerlogo {position: absolute;z-index: 999;right: -15vw;max-width: 73vw;bottom: 56vw;}
}