.flip-testimonials {margin:36px 0;}
.flip-testimonials .thetestigrid {display: flex;flex-wrap: nowrap;overflow: scroll;column-gap: 1rem;justify-content: space-between;}
.flip-testimonials .thetestiitem {width: 19%;flex: 0 0 auto;}
.flip-testimonials .flip-container {perspective: 1000px;display: inline-block;width: 100%;min-height:630px;}
.flip-testimonials .flipping-div {position: relative;width: 100%;transform-style: preserve-3d;transition: transform 0.6s ease;}
.flip-testimonials .flip-container:hover .flipping-div {transform: rotateY(180deg);}
.flip-testimonials .flipping-div .front, .flipping-div .back { position: absolute;top: 0;left: 0;width: 100%;height: 100%;backface-visibility: hidden;cursor: pointer;}
.flip-testimonials .flipping-div img {display: block;width: 100%;height: auto;border-radius: 10px;}
.flip-testimonials .flipping-div .back {transform: rotateY(180deg);}
.flip-testimonials .sectionheading {margin:0px;color:#000;position:relative;padding-left:2rem;font-size:30px;-webkit-font-smoothing:antialiased;letter-spacing:0;font-weight: 700;margin-bottom:30px;}
.flip-testimonials .sectionheading:before {content:'';background:#B8DF2B;border-radius:2px;position:absolute;left:0;width:4px;height:100%;}
.flip-testimonials .thetestigrid::-webkit-scrollbar {width: 0;background: transparent;}

@media screen and (max-width: 749px) {
  .flip-testimonials .thetestiitem {width: 68%;flex: 0 0 auto;}
  .flip-testimonials {margin:20px 0;}
  .flip-testimonials .sectionheading {font-size:24px;line-height: 1.1;margin-bottom:15px;}
}

@media screen and (max-width: 2561px) {.flip-testimonials .flip-container {min-height:45rem;}}
@media screen and (max-width: 2160px) {.flip-testimonials .flip-container {min-height:45rem;}}
@media screen and (max-width: 1920px) {.flip-testimonials .flip-container {min-height:45rem;}}
@media screen and (max-width: 1601px) {.flip-testimonials .flip-container {min-height:44rem;}}
@media screen and (max-width: 1441px) {.flip-testimonials .flip-container {min-height:44rem;}}
@media screen and (max-width: 1366px) {.flip-testimonials .flip-container {min-height:38rem;}}
@media screen and (max-width: 1280px) {.flip-testimonials .flip-container {min-height:33rem;}}
@media screen and (max-width: 1024px) {.flip-testimonials .flip-container {min-height:33rem;}}
@media screen and (max-width: 824px) {.flip-testimonials .flip-container {min-height:30rem;}}
@media screen and (max-width: 768px) {.flip-testimonials .flip-container {min-height:28rem;}}
@media screen and (max-width: 601px) {.flip-testimonials .flip-container {min-height:67rem;}}
@media screen and (max-width: 480px) {.flip-testimonials .flip-container {min-height:53rem;}}
@media screen and (max-width: 415px) {.flip-testimonials .flip-container {min-height:46rem;}}
@media screen and (max-width: 375px) {.flip-testimonials .flip-container {min-height:41rem;}}
@media screen and (max-width: 360px) {.flip-testimonials .flip-container {min-height:39rem;}}
@media screen and (max-width: 320px) {.flip-testimonials .flip-container {min-height:34rem;}}