a, a:hover {text-decoration:none;}

/* background: linear-gradient(0deg, rgba(255,207,3,1) 0%, rgba(248,177,24,1) 100%); */

.price-drop-line {font-size: 12px;line-height: 1.3;margin-bottom: 10px;border: 1px solid #1971a7;border-radius: 4px;color: #fff;font-weight: 600;padding: 4px 4px;background: #1971a7;
background: linear-gradient(
  156deg,
  rgba(25, 113, 167, 1) 0%,    /* #1971a7 */
  rgba(90, 160, 210, 1) 50%,   /* lighter blue */
  rgba(25, 113, 167, 1) 75%,   /* back to base */
  rgba(150, 210, 250, 1) 100%  /* very light */
);display: inline-block;}
@media screen and (max-width: 750px){
 .price-drop-line {font-size: 10px;} 
}