.scrollto-top {background:#F6F6F6;padding:10px 0;text-align:center; width:100%;border:0px;cursor: pointer;border-top:1px solid #000;}
.scrollto-top svg {margin: auto;}
.scrollto-top span {display: block;font-size: 14px;font-family: 'Poppins';color:#000;}