.shopby-category {padding:30px 0;background:url(https://cdn.shopify.com/s/files/1/0690/7723/7977/files/categorybg.jpg?v=1715160091);background-size: cover;background-position: center;}
.shopby-category .sectionheading {margin:0px;color:#000;position: relative;padding-left: 2rem;font-size: 30px;font-weight: 600;-webkit-font-smoothing: antialiased;letter-spacing: 0;margin-bottom:30px;}
.shopby-category .sectionheading:before {content: '';background: #B8DF2B;border-radius: 2px;position: absolute;left: 0;width: 4px;height: 100%;}
.shopby-category a {text-decoration:none;}
.shopby-category img {width:100%;height:auto;}
.shopby-category .swiper-slide {text-align:center; box-sizing:border-box;}
.shopby-category h3, .shopby-category h5, .shopby-category p {margin:0px;}  
.shopby-category h3 {font-size: 25px;color: #000;margin: 16px 0;font-weight: 600;}
.shopby-category p {font-size: 14px;color: #000;margin-top: 15px;justify-content: center;display: flex;position: relative;width: 100%;background: #CFF741;padding: 10px;border-radius: 6px;align-items: center;column-gap: 5px;}
.shopby-category p span {transform: translate(10px, 0px);transition:all .3s;}
.shopby-category p:hover span {transform: translate(0px, 0px);}
.shopby-category p svg {width: 15px;opacity:0; transition:all .3s;}
.shopby-category p:hover svg {opacity:1;}
.shopby-category .target-section, .shopby-category .buttons {height:35px;}
.shopby-category .target-section .swiper-button-next, .shopby-category  .target-section .swiper-button-prev {background:#fff;right: 0;left: 0;position: relative;top: 12px;display: inline-flex;height: 35px;width: 35px;border: 1px solid #ccc;}
.shopby-category .target-section .buttons {display: flex;align-items: center;column-gap:5px;}
.shopby-category .swiper-button-next:after, .shopby-category .swiper-button-prev:after {font-size:10px;color:#000;color:#000;}

.shopby-category .swiper-pagination-bullet {background:#000;}
.shopby-category .swiper-pagination {position:relative;margin-top:20px;}

@media screen and (max-width: 749px){
  .shopby-category h3 {font-size:16px;}
  .shopby-category .sectionheading {font-size: 24px;}
  .shopby-category {padding:20px 0;}
  .shopby-category .swiper-pagination {position:relative;margin-top:20px;}
  .shopby-category .swiper-wrapper {margin-top:0px;} 
  .shopby-category .target-section, .shopby-category .buttons {height:30px;}
  .shopby-category .target-section .swiper-button-next, .shopby-category .target-section .swiper-button-prev {height:30px;width:30px;}
}

@media screen and (max-width:395px) {
  .shopby-category h3 {height: 30px;}
}