.topmenu-categories {margin:15px 0;}
.topmenu-categories .page-width {position: relative;}
.topmenu-categories img {width:100%;height:auto;}


/* .theeightgrid .page-width .theitems:first-child img {animation: rotateInfinite 4s linear infinite;width:97%;}
.theeightgrid .page-width .theitems:first-child span {font-size: 12px;} */

@keyframes rotateInfinite { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.topmenu-categories a {color: inherit;text-decoration: none;display: block;text-align: center;}
.topmenu-categories span {font-size:12px;display: block;text-align: center;line-height: 1.3;}
.topmenu-categories .swiper {position: initial;}
.topmenu-categories .swiper-button-next, .topmenu-categories .swiper-button-prev {display: block;top: 40%;width:10px;}
.topmenu-categories .swiper-button-next:after, .topmenu-categories .swiper-button-prev:after {font-size:12px;color: #000;}
.topmenu-categories .swiper-slide img {width: 70% !important;max-width: 90px;}
.topmenu-categories .swiper-button-next {right:0px;}
.topmenu-categories .swiper-button-prev {left:0px;}

@media screen and (max-width: 749px){
  .topmenu-categories {margin:10px 0;}
  .topmenu-categories .swiper-slide img {width:95% !important;}
  .topmenu-categories span {font-size: 12px;line-height: 1.3;font-weight: 700;color: #000;}
}

@media screen and (min-width: 749px) {
  .topmenu-categories {display:none;}
  .theeightgrid {display:none;}
}

.theeightgrid {margin:5px 0;}
.theeightgrid .page-width a {color:#000;text-decoration:none;}
.theeightgrid .page-width img {width: 100%;height: auto;}
.theeightgrid .page-width span {display: block;font-size: 10px;width: 100%;white-space: pre-line;letter-spacing: 0;line-height: 1.3;font-weight: 600;}
@media only screen and (max-width: 769px) {
  .theeightgrid {margin: 5px 0;}
  .theeightgrid .page-width {display: flex;flex-wrap: nowrap;overflow-x: auto;scroll-behavior: smooth;column-gap: 6px;padding-left: 10px;}
  .theeightgrid .page-width::-webkit-scrollbar {display: none;}
  .theeightgrid .page-width .theitems {flex: 0 0 auto;width: calc(18%);text-align: center;}
}